* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-color: #00bf85;
}

body {
  background: #000;
  overflow-x: hidden;
}

/* navbar */

.navbar {
  background: #131313;
  padding: 1rem 8rem;
}

.navbar .navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
  color: white;
  font-size: 1.1rem;
  padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
  color: var(--button-color);
}

#navbarSupportedContent > button {
  font-weight: 600;
  padding: 0.4rem 1.4rem;
  border-color: var(--button-color);
  color: var(--button-color);
}

#navbarSupportedContent > button:hover {
  background: var(--button-color);
  color: #fff;
}

/* about section*/
#about {
  margin-top: 70px;
  overflow: hidden;
  text-align: center;
}

#about video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.jumbotron {
  background: none;
}

#about .jumbotron hr {
  border-color: #fff;
}

#about .jumbotron a {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  color: #000;
}

#about .jumbotron a:hover {
  background: none;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

/* discover section  */
#discover .jumbotron a {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  color: #000;
  border-radius: 20px;
}

#discover .jumbotron a:hover {
  background: none;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

/* features section */
#features {
  background-color: #fff;
}

#features .jumbotron a {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 20px;
}

#features .jumbotron a:hover {
  background: none;
  border: 1px solid #000;
  color: #000;
}

/* services  */
#services {
  padding: 50px 50px;
}

#services img {
  height: 200px;
}

#signup {
  background-color: #fff;
}

#signup .jumbotron a {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 20px;
}

#signup .jumbotron a:hover {
  background: none;
  border: 1px solid #000;
  color: #000;
}

footer li {
  list-style: none;
}

footer li a {
  color: #fff;
}
